
-# .header
-#   .header__logo
-#     SNS
-# .contents
-#   .contents__message
-#     follow me!
-#   = link_to "https://www.facebook.com/", class: "contents__btn" do
-#     = icon('fab', 'facebook-square')
-#   = link_to "https://twitter.com/", class: "contents__btn" do
-#     = icon('fab', 'twitter')
-#   = link_to "https://www.instagram.com/", class: "contents__btn" do
-#     Instagram
-#   = link_to "https://maps.googleapis.com/maps/api/js?key=AIzaSyBfuGsaQUbaYIk-h_-P9xiDNwLD1fw2Gko&callback=initMap", class: "contents__btn" do
-#     Google

.wapper
 = render 'side-bar'
 = render 'main-map'
